@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
#main {
    height: 100vh;
    width: 100%;
}

#back {
    overflow-x: hidden;
    background-color: rgb(201, 191, 191);
    background-repeat: no-repeat;
}

#mess {
    background-color: transparent;
}

#mess img {
    width: 900px;
    height: auto;
}

#main #box {
    background-color: transparent;
    font-family: Redressed;
}

#box-line {
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    border-right: none;
    width: 24rem;
    background-color: transparent;
}

#sug {
    font-size: 70px;
}

#sugp {
    font-size: 30px;
    background-color: transparent;
    width: 600px;
}

#se {
    font-size: 30px;
    text-decoration: none;
    background-color: #FF687A;
    padding: 10px;
    border-radius: 20px;
    color: black;
}

#second {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #41E4EE, #C30A8F);
}

#quali {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#quali p {
    font-size: 60px;
    font-family: Fredericka the Great;
    padding: 20px;
}

#here {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Redressed;
    font-size: 50px;
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    padding: 30px;
    font-weight: bold;
    height: 18rem;
    box-shadow: 5px 10px 10px #00000049;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.137);
}

#pho {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 10px 10px #00000049;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.137);
}

#pho img {
    padding: 30px;
}

#swiper-back {
    background: transparent;
    transform: rotate(20deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

#swiper-backone {
    background: transparent;
    transform: rotate(-10deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

#swiper-backtwo {
    background: transparent;
    transform: rotate(12deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

#swiper-backthree {
    background: transparent;
    transform: rotate(-20deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

#swiper-backfour {
    background: transparent;
    transform: rotate(-10deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

#swiper-backfive {
    background: transparent;
    transform: rotate(-20deg);
    padding-top: 40px;
    padding-bottom: 40px;
}

.mySwiper {
    margin-top: 20px;
}

#work {
    background: url('../asset/ba.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#work #work-title {
    color: black;
}

#work-title {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Red Hat Display;
    font-weight: bold;
}

#wor {
    position: relative;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

#wor::-webkit-scrollbar {
    display: none;
}

#lin {
    position: absolute;
    top: 2%;
    left: 50%;
    width: 1vh;
    height: 180vh;
    border-radius: 50px;
    z-index: 20;
    background-color: white;
}

#exper {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 60vh;
    align-items: center;
}

#teacher {
    height: 50vh;
    width: 90vh;
    background-color: transparent;
    border-radius: 50px;
    font-family: Red Hat Display;
    color: black;
}

#deta {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 10px;
    background-color: transparent;
    height: 50px;
    margin-left: 150px;
    color: white;
    z-index: 30;
    white-space: nowrap;
}

#deta1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: transparent;
    height: 100px;
    color: white;
    z-index: 30;
}

#ellis {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: black;
}

#deta h4,
#ellis,
h2 {
    padding: 10px;
}

#deta1 {
    margin-left: -210px;
}

#deta1 #ellis {
    padding: 20px;
}

#deta1 #ellis,
h5 {
    margin-right: 55px;
}

#school {
    background-color: transparent;
    height: 200px;
    margin-top: 300px;
    margin-left: -100px;
    white-space: nowrap;
    background: url('../asset/school.png');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#fgf #school {
    background: url('../asset/admi.png');
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#school1 {
    background-color: transparent;
    height: 200px;
    margin-top: 300px;
    margin-left: -600px;
    white-space: nowrap;
}

#school p {
    white-space: pre-wrap;
}

#school1 p {
    white-space: pre-wrap;
}

#fgf {
    background-color: transparent;
    margin-left: 10px;
}

#deta1 #school1 {
    background: url('../asset/cam.png');
    border-radius: 10px;
}

#lef2 {
    margin-left: -100px;
}

#certified {
    height: 100vh;
    width: 100%;
    background: url('../asset/certifiedback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#certified #work-title {
    padding: 30px;
    color: black;
    font-family: Red Hat Display;
}

#cards2 {
    margin-top: 120px;
    width: 600px;
}

#cards3 {
    border-radius: 30px;
    height: 50vh;
}

#cards3:nth-child(1) {
    background-color: #41E4EE;
}

#cards3:nth-child(2) {
    background-color: purple;
}

#cards3:nth-child(3) {
    background-color: orange;
}

#cards3:nth-child(4) {
    background-color: black;
}

#cards3:nth-child(5) {
    background-color: white;
}

#cards3:nth-child(6) {
    background-color: olivedrab;
}

#sye {
    font-size: 30px;
}

#sy {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    background: rgba(252, 252, 252, 0.288);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

#Book {
    background: url('../asset/bookback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#Book #work-title {
    padding: 40px;
}

#card4 {
    background-color: rgba(255, 255, 255, 0.158);
    width: 600px;
    height: 500px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 25px;
}

#sde {
    padding-bottom: 10vh;
}

#awards {
    background: url('../asset/awardsback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#awards #work-title {
    padding: 40px;
    color: black;
    font-weight: bolder;
}

#awards #swipe {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Red Hat Display;
}

#swipe img {
    width: 50px;
}

#wiper {
    width: 400px;
    height: 400px;
}

#let {
    background: url('../asset/letback.jpg');
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
}

#let #work-title {
    padding: 40px;
    font-family: Red Hat Display;
}

#roundimg {
    background-color: transparent;
    margin-top: 20px;
}

#ring {
    position: relative;
    border: 3px solid white;
    width: 35rem;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    margin-left: -200px;
}

#ring img {
    position: absolute;
    z-index: 10;
}

#ring img:nth-child(1) {
    top: -5%;
    left: 60%;
}

#ring img:nth-child(2) {
    top: 20%;
    left: 90%;
}

#ring img:nth-child(3) {
    top: 80%;
    left: 82%;
}

#ring img:nth-child(4) {
    top: 95%;
    left: 40%;
}

#ring-box {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: #C4C4C4;
}

#get {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family: Red Hat Display;
    color: white;
    margin-right: 20vh;
    padding: 20px;
}

#links {
    margin-top: 50px;
    border-top: 2px solid white;
    padding: 20px;
    color: white;
    font-size: 20px;
}

#links a {
    text-decoration: none;
    color: white;
    padding: 20px;
}


/* mobile view */


/* mobile view */


/* mobile view */


/* mobile view */


/* mobile view */


/* mobile view */

@media only screen and (max-width: 480px) {
    #main {
        display: flex;
        justify-content: center;
    }
    #mess {
        display: none;
    }
    #sug {
        font-size: 50px;
    }
    #sugp {
        width: 250px;
    }
    #teacher {
        width: 40vh;
        height: 40vh;
    }
    #lin {
        height: 160vh;
        left: 5%;
    }
    #teacher #ellis,
    h4,
    h2 {
        position: absolute;
    }
    #teacher #ellis {
        left: 1%;
    }
    #teacher h4 {
        top: 50%;
        left: 10%;
    }
    #teacher h2 {
        left: 10%;
    }
    #deta1 {
        background-color: transparent;
        margin-left: 0px;
    }
    #deta1 h4 {
        margin-left: 25px;
        margin-top: -20px;
    }
    #deta1 h5 {
        margin-top: 150px;
        margin-left: 40px;
    }
    #deta {
        margin-left: 0px;
        white-space: nowrap;
    }
    #deta #school {
        margin-left: 30px;
    }
    #deta1 h5 {
        margin-right: 430px;
        margin-top: 130px;
    }
    #deta1 #school1 {
        background-color: transparent;
        margin-left: -580px;
        margin-top: 380px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #lef2 #deta1 #school1 {
        background-color: transparent;
        margin-left: -550px;
        margin-top: 350px;
    }
    #lef2 {
        margin-left: 10px;
        padding: 10px;
        margin-top: 10px;
    }
    #lef2 h5 {
        margin-left: 40px;
    }
    #fgf {
        margin-top: 50px;
        padding: 10px;
    }
    #cards2 {
        width: 280px;
    }
    #cards3 {
        height: 50vh;
    }
    #card4 {
        margin-top: 100px;
        width: 250px;
        height: 250px;
    }
    #wiper {
        width: 280px;
        height: 280px;
        margin-top: 100px;
    }
    #get {
        margin-right: 0vh;
    }
    #teacher #deta1 {
        margin-bottom: 5vh;
    }
    #teacher #fgf {
        margin-top: 10vh;
    }
    #teacher #lef2 {
        margin-top: 10vh;
    }
}


/* tablet view */


/* tablet view */


/* tablet view */


/* tablet view */


/* tablet view */


/* tablet view */


/* tablet view */

@media only screen and (max-width: 998px) and (min-width: 425px) {
    #main {
        display: flex;
        justify-content: center;
    }
    #mess {
        display: none;
    }
    #sug {
        font-size: 50px;
    }
    #sugp {
        width: 250px;
    }
    #teacher {
        width: 50vh;
        height: 50vh;
    }
    #deta {
        margin-left: 2vh;
    }
    #deta1 {
        margin-left: -25vh;
    }
    #fgf {
        margin-left: 6vh;
    }
    #cards2 {
        width: 400px;
    }
    #card4 {
        width: 400px;
    }
    #get {
        margin-right: 0vh;
    }
}

@media only screen and (max-width: 998px) and (min-width: 766px) {
    #main {
        display: flex;
        justify-content: center;
    }
    #mess {
        display: none;
    }
    #sug {
        font-size: 50px;
    }
    #sugp {
        width: 250px;
    }
}